/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #282c34;
  --secondary: #1e2229;
  --tertiary: #121416;
  --text: white;
  --success: #1aac83;
  --error: #e7195a;
  --change: #F66B0E;
  --loading: #6e705c;
}

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: var(--primary);
  color: white;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
  background: var(--secondary);
  color: var(--text);
}
nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .username{
  font-size: 20px;
}

nav div a{
  font-size: 20px;
}

header a {
  color: var(--text);
  text-decoration: none;
}

* button{
  border-radius: 5px;
  border: 0.2px solid black;
  background-color: var(--tertiary);
  color: var(--text);
  font-size: 15px;
}

* button:hover{
  cursor: pointer;
}

* button:disabled{
  background-color: var(--loading);
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* home Page / Login Page */
.home h2{
  text-align: center;
  font-size: 50px
}

.home p{
  text-align: center;
  font-size: 30px
}

.login{
  margin-top: 50px;
  position: absolute;
  top: 30%;
  left: 25%;
  justify-content: center;
}

.login button{
  margin-top: 20px;
}

.login label, .login input, .login button, .signup label, .signup input, .signup button{
  font-size: 25px;
  margin: 5px 0px 5px 0px
}

.signup{
  margin-top: 50px;
  position: absolute;
  top: 30%;
  right: 25%;
}

.formTitle{
  font-size: 50px;
  padding: 20px;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

/* Order Page */

.upload label, select{
  font-size: 20px;
  border-radius: 4px;
}
.upload input{
  font-size: 20px;
  border-radius: 4px;
  width: 500px;
  margin: 0px 20px 0px 0px;
}
.upload button{
  font-size: 20px;
  background-color: rgb(26, 131, 99);
}
.upload button:disabled{
  background-color: var(--tertiary);
}

.result{
  top: 40px;
  background-color: var(--success);
  margin-top: 10px;
  border-radius: 8px;
  text-align: center;
  color: var(--text);
  font-size: 20px;
}

.error{
  background-color: var(--error);
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  text-align: center;
  color: var(--text);
  font-size: 20px;
}

.fieldName{
  display: inline;
  color: var(--change);
}

.editInput{
  width: 300px;
  margin: 2px 0px 10px 0px;
}

.cardContainer{
  display: flex;
  max-width: 1700px;
  overflow: auto;
  
}

.elementCard{
  position: relative;
  min-width: 300px;
  min-height: 200px;
  max-width: 300px;
  max-height: 400px;
  width: 300px;
  height: 400px;
  margin: 10px 15px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--secondary);
  box-shadow: 1px -3px 10px #121416;
  word-wrap: break-word
}

.elementCard .orderNumber{
  position: absolute;
  bottom: 0;
  left: 20px;
}

.elementCard .delete{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--error);
}
.elementCard .edit{
  position: absolute;
  bottom: 10px;
  right: 80px;
  background-color: var(--change);
}
.elementCard .save{
  position: absolute;
  bottom: 10px;
  right: 80px;
  background-color: var(--success);
}
.elementCard .cancel{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--error);
}
.elementCard .duration{
  width: 50px;
}

.elementImage{
  border: 1px solid black;
  background-color: #121416;
  display: flex;
  margin: 10px auto;
  max-height: 150px;
  max-width: 300px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.elementVideo iframe  {
  margin: 10px 10px;
}

.elementCard .leftArrow{
  position: absolute;
  top: -30px;
  right: 60px;
  font-size: 40px;
  padding: 0px;
  border: 1px solid #121416;
}
.elementCard .rightArrow{
  position: absolute;
  top: -30px;
  right: 10px;
  font-size: 40px;
  padding: 0px;
  border: 1px solid #121416;
}

.elementCard .leftArrow:hover{
  cursor: pointer;
}
.elementCard .rightArrow:hover{
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}
/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 34, 34);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* User Page */

.userPreview{
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 80px 80px;
  font-size: 20px;
  color: var(--text);
}

.userPreview h2{
  margin: 0;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  background-color: var(--secondary);
}

.userToAdmin{
  background-color: var(--success);
}

.userToLoser{
  background-color: var(--change);
}

.userDelete{
  background-color: var(--error);
}

.listTitle{
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 80px 80px;
  font-size: 20px;
  color: var(--text);
}

.listTitle h2{
  background-color: var(--tertiary);
  text-align: center;
  border: 1px solid black;
  margin: 0px;
}
