/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #282c34;
  --secondary: #1e2229;
  --tertiary: #121416;
  --text: white;
  --success: #1aac83;
  --error: #e7195a;
  --change: #98a336;
}

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: var(--primary);
  color: white;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
  background: var(--secondary);
  color: var(--text);
}
nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .username{
  font-size: 20px;
}

nav div a{
  font-size: 20px;
}

header a {
  color: var(--text);
  text-decoration: none;
}

* button{
  border-radius: 5px;
  border: 0.2px solid black;
  background-color: var(--tertiary);
  color: var(--text);
  font-size: 15px;
}

* button:hover{
  cursor: pointer;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home h2{
  text-align: center;
  font-size: 50px
}

.home p{
  text-align: center;
  font-size: 30px
}

.login{
  margin-top: 50px;
  position: absolute;
  top: 30%;
  left: 25%;
  justify-content: center;
}

.login button{
  margin-top: 20px;
}

.login label, .login input, .login button, .signup label, .signup input, .signup button{
  font-size: 25px;
  margin: 5px 0px 5px 0px
}

.signup{
  margin-top: 50px;
  position: absolute;
  top: 30%;
  right: 25%;
}

.formTitle{
  font-size: 50px;
  padding: 20px;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.upload label, select{
  font-size: 20px;
  border-radius: 4px;
}
.upload input{
  font-size: 20px;
  border-radius: 4px;
  width: 500px;
  margin: 0px 20px 0px 0px;
}
.upload button{
  font-size: 20px;
  background-color: rgb(26, 131, 99);
}
.upload button:disabled{
  background-color: var(--tertiary);
}

.result{
  top: 40px;
  background-color: var(--success);
  margin-top: 10px;
  border-radius: 8px;
  text-align: center;
  color: var(--text);
  font-size: 20px;
}

.error{
  background-color: var(--error);
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  text-align: center;
  color: var(--text);
  font-size: 20px;
}

.userPreview{
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 80px 80px;
  font-size: 20px;
  color: var(--text);
}

.userPreview h2{
  margin: 0;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  background-color: var(--secondary);
}

.userToAdmin{
  background-color: var(--success);
}

.userToLoser{
  background-color: var(--change);
}

.userDelete{
  background-color: var(--error);
}

.listTitle{
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 80px 80px;
  font-size: 20px;
  color: var(--text);
}

.listTitle h2{
  background-color: var(--tertiary);
  text-align: center;
  border: 1px solid black;
  margin: 0px;
}

.elementPreview{
  display: inline;
}

.orderElement{
  position: relative;
  padding: 10px;
  padding-left: 40px;
  margin: 5px;
  background-color: var(--secondary);
  border-radius: 15px;
  font-size: 20px;
}
.orderElement input{
  border-radius: 5px;
  font-size: 20px;
}

.orderElement .delete{
  font-size: 20px;
  background-color: var(--error);
}

.orderElement .edit{
  font-size: 20px;
  background-color: var(--change);
  margin: 0px 20px;
}

.orderElement .save{
  font-size: 20px;
  background-color: var(--success);
}

.orderElement .cancel{
  font-size: 20px;
  background-color: var(--error);
  margin: 0px 20px;
}

.fieldName{
  display: inline;
  color: var(--change);
}

.editInput{
  width: 600px;
}

.toolTip{
  display: inline;
  margin: 0px 20px;
}

.orderNumberInput{
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: 5px;
  width: 30px;
  position: absolute;
  left: 95%;
  font-size: 15px;
}

