* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #282c34;
  color: white;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}
.App-Header{
  max-width: 1600px;
}
img{
  height: auto;
  width:100%;
  max-width: 1920px;
  max-height: 1080px;
}

.text{
  text-align: center;
  margin-top: 500px;
  box-sizing: border-box;
  border: #282c34;
}